@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --white: #F8F8F8;

    --black: black;
    --black-50: #7F7F7F;

    --gold-100: #B8860B;
    --gold-80: #C59C3C;
    --gold-60: #D2B26D;

    --section-title-size: 4.5rem;
}

@font-face{
    font-family: FoundersGrotesk;
    src: url(assets/fonts/FoundersGrotesk-Regular.otf);
}

@font-face{
    font-family: FoundersGrotesk-bold;
    src: url(assets/fonts/FoundersGrotesk-Semibold.otf);
}

@font-face{
    font-family: FoundersGrotesk-light;
    src: url(assets/fonts/FoundersGrotesk-Light.otf);
}

@font-face{
    font-family: Candide-italic;
    src: url(assets/fonts/Candide\ Condensed\ Italic.otf);
}

@font-face{
    font-family: Lavish;
    src: url(assets/fonts/lavish.otf);
}

strong{
    font-family: FoundersGrotesk-bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: url(assets/img/fondo-page.png); */
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

h1{
    margin: 2rem 0;

    font-family: Lora;
    color: var(--gold-80);
    font-weight: 500;
    text-transform: uppercase;
    font-size: clamp(1.875rem, 1.541rem + 1.216vw, 3rem);
    .capital{
        font-size: clamp(2.5rem, 1.943rem + 2.027vw, 4.375rem);
    }
}

h2{
    margin: 2rem 0;

    font-family: Lora;
    color: var(--gold-80);
    font-weight: 500;
    text-transform: uppercase;
    font-size: clamp(1.375rem, 1.115rem + 0.946vw, 2.25rem);
    .capital{
        font-size: clamp(2rem, 1.666rem + 1.216vw, 3.125rem);
    }
}

.btn {
    width: 5.5rem;
    height: 2rem;

    font-family: "Roboto Condensed";
    font-size: 1.02rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 5px;
    transition: opacity 0.3s;

}

.btn-primary{
    color: var(--black);
    background-color: transparent;

    border: 1px solid var(--black);
    transition: color 0.4s;
    transition: background-color 0.3s;

    &:hover{
        color: var(--white);
        background-color: black;

        border:none;
    }

}

.btn-secondary{
    color: var(--white);
    background-color: var(--black);

    border: none;

    transition: color 0.4s;
    transition: background-color 0.3s;

    &:hover{
        color: var(--black);
        background-color: transparent;

        border: 1px solid var(--black);
    }
}

.btn-terciary{
    color: black;
    background-color: var(--white);

    border: none;

    width: 8rem;
    height: 2.2rem;

    transition: color 0.4s;
    transition: background-color 0.3s;

    &:hover{
        color: var(--white);
        background-color: var(--black);

        border: none;
    }
}

body,
html {
    height: 100%;
    color: var(--secondary-color);
    font-family: FoundersGrotesk;
    
    background-image: url(assets/img/fondo-page.png);
}


.collapse {
    display: none;
}

.menu_mobile {
    display: none;
}

hr{
    display: none;
}

/*-nav-*/
.branding {
    width: 100%;

    #progress {
        position: fixed;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: var(--gold-60);

        /* opacity: .5; */

        z-index: 99999999;


        animation: progress-bar auto linear forwards;
        animation-timeline: scroll();
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, .85);
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        position: fixed;
        top: 0;
        width: 100%;

        z-index: 999999;
        .izq{
            display: flex;
            gap: 25px;

            .canma{
                font-size: clamp(1.6rem, 1.481rem + 0.432vw, 2rem);
                font-family: Lora;
                transition: transform 0.2s;

                a{
                    cursor: default;
                    text-decoration: none;
                    color: var(--black);
                }
                

                &:hover{
                    transform: scale(1.1);
                }
            }

            .social-media {
                display: flex;
                align-items: center;
                gap: clamp(0.6rem, 0.495rem + 0.421vw, 1rem);
                list-style: none;
                margin: 0;
                padding: 0;
                a{
                    img {
                        width: clamp(1rem, 0.868rem + 0.526vw, 1.5rem);
                        height: clamp(1rem, 0.868rem + 0.526vw, 1.5rem);
                        display: block;
                        transition: transform 0.2s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
            }   }
        }

        .menu-on {
            ul {
                display: flex;
                align-items: center;
                gap: 25px;
                list-style: none;
                margin: 0;
                padding: 0;
                align-items: center;

                li {
                    a {
                        text-decoration: none;
                        color: var(--gold-80);
                        font-weight: 600;
                        display: inline-block;
                        font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
                        transition: color 0.2s;
                        &:hover {
                            color: var(--black-50);
                        }

                    }

                }
            }
        }
    }
}

@keyframes progress-bar {
    from {
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/*-----footer-----*/

footer {
    .newsteller{
        padding: 2rem 0;
        background-color: #ECE7DD;
        display: flex;
        
        .join{
            flex: 1;
            text-align: end;
            padding-right: 6rem;
            border-right: .5px solid var(--black-50);

            p{
                font-size: clamp(1rem, 0.703rem + 1.081vw, 2rem);
                font-family: Candide-italic;

            }

            input{
                margin-top: 1rem;
                background-color: var(--white);
                height: 2.2rem;
                border: none;
                border-radius: 5px;
                padding: 12px;
                font-family: Montserrat;
                width: clamp(18.75rem, 16.316rem + 9.737vw, 28rem);

                transition: box-shadow .3s;


            }

            input::placeholder{
                font-family: "FoundersGrotesk";
                color: var(--black-50);
            }

            input[type=text]:focus{
                border: none;
                outline: none;

            }
            
            input:hover{
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }
        }

        

        .work{
            flex: 1;
            text-align: start;
            padding-left: 6rem;
            font-family: Candide-italic;
            font-size: clamp(1rem, 0.703rem + 1.081vw, 2rem);

            .btn-footer{
                margin-top: 1rem;
                width: 10.8rem;


            }

        }
    }

    .real-footer{
        background-color: var(--black);
        color: var(--white);
        display: flex;
        /* justify-content: space-between; */
        width: 100%;
        padding: 0 4%;
        align-items: center;

        border-bottom: 1px solid var(--gold-100);

        gap: rem;

        .logo-footer{
            flex: 1;
            img {
                height: clamp(clamp(9rem, 7.158rem + 7.368vw, 16rem));
                transition: transform 0.3s;

                &:hover{
                    transform: scale(1.05);
                }

            }
        }

        .info{
            display: flex;
            /* justify-content: space-between; */
            gap: 1rem;
            flex: 5;

            .col1 .info-content{
                width: 14rem;
                height: auto;
                /* border: 1px solid green; */

                h5{
                    font-family: "Roboto Condensed";
                    text-transform: uppercase;

                    font-size: clamp(0.875rem, 0.801rem + 0.27vw, 1.125rem);
                    color: var(--gold-80);
                    font-weight: 400;
                    margin-bottom: .5rem;
                }

                p{
                    font-family: FoundersGrotesk-light;
                    font-size: clamp(0.75rem, 0.676rem + 0.27vw, 1rem);
                    line-height: 1.5;
                }
            }

            .col2 .info-content {
                width: clamp(20rem, 18.88rem + 4.267vw, 24rem);
                height: auto;
                /* border: 1px solid green; */

                h5{
                    font-family: "Roboto Condensed";
                    text-transform: uppercase;

                    font-size: clamp(0.875rem, 0.801rem + 0.27vw, 1.125rem);
                    color: var(--gold-80);
                    font-weight: 400;
                    margin-bottom: .5rem;
                }

                p{
                    font-family: FoundersGrotesk-light;
                    font-size: clamp(0.75rem, 0.676rem + 0.27vw, 1rem);
                    line-height: 1.5;
                }
            }

            .col1{
                display: flex;
                flex-direction: column;
                gap: clamp(2rem, 1.474rem + 2.105vw, 4rem);
                margin: clamp(1rem, 0.72rem + 1.067vw, 2rem) 0;
                flex:3;

                .contact p a{
                    color: var(--white);
                }
            }

            .col2{
                display: flex;
                flex-direction: column;
                
                gap: clamp(1rem, 0.16rem + 3.2vw, 4rem);
                margin: clamp(1rem, 0.72rem + 1.067vw, 2rem) 0;
                flex:3;

            }

            .col3{
                display: flex;
                flex-direction: column;
                align-self: center;
                flex:1;

                margin-bottom: 2rem;
                .links {
                    justify-content: center;
                    text-align: center;
                    ul{
                        margin-bottom: 1rem;

                        li{
                            list-style: none;

                            a{
                                color: var(--gold-100);
                                font-size: clamp(0.8rem, 0.681rem + 0.432vw, 1.2rem);
                                transition: color 0.2s;
                                &:hover{
                                    color: var(--white);
                                }
                            }

                            
                        }
                    }
                    .social-media{
                        justify-items: center;
                        ul{
                            margin: 0;
                            display: flex;
                            gap:1rem;

                            li a img{
                                width: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                                height: auto;
                                display: block;
                                transition: transform 0.2s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }  
        }

        

        
    }
    .subfooter{
        background-color: var(--black);

        .awards{
            ul{
                display: flex;
                gap: clamp(1.5rem, 1.22rem + 1.067vw, 2.5rem);
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                li{
                    list-style: none;

                    img {
                        height: clamp(2.5rem, 2.368rem + 0.526vw, 3rem);
                        transition: transform 0.2s;
                        &:hover{
                            transform: scale(1.1)
                        }
                    }
                }
            }
        }
    }
}

/*-header secciones-*/

.header-content {
    margin: 8rem 30% 4rem 30%;
    .header-things{
        display: flex;
        align-items: center;
        animation: aparecer 2s forwards;
        .header-logo{
            margin-right: 1.5rem;
            transition: transform 0.3s;

            img{
                height: clamp(18.75rem, 15.378rem + 13.487vw, 31.563rem);
            }
            
            &:hover{
                transform: scale(1.05);
            }

        }

        .header-text{
            p {
                font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
                margin-bottom: 20px;
                line-height: 1.5;

            }
        }
    }
}

/*------------------------------------- HOME ----------------------------------------*/

.hero{
    height: 100vh;
    display: flex;
    align-items: center;

    animation: aparecer 2s forwards;
    .izq{
        flex: 1;
        /* border: 1px solid red; */
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .hero-logo img{
            height: clamp(22rem, 18.135rem + 14.054vw, 35rem);

        }

        .hero-quote p{
            font-family: Lavish;

            font-size: clamp(1.125rem, 0.939rem + 0.676vw, 1.75rem);
        }
    }

    .der{
        flex: 1;

        text-align: end;
        
        img{
            height: 40rem;
            width: auto;
        }
    }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about{
    margin: 5%;
    margin-bottom: 6rem;
    .about-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .normal-structure{
            display: flex;
            align-items: center;
            .text{
                text-align: end;
                flex: 1;
                .text-title{
                    font-size: clamp(1.4rem, 0.939rem + 0.676vw, 2rem);
                }

                .text-para{
                    font-size: clamp(1.125rem, 1.014rem + 0.405vw, 1.5rem);

                    p{
                        margin-bottom: 20px;
                        line-height: 1.5;
                        margin-left: 10%;
                    }
                }
            }

            .image{
                flex: 1;
                justify-items: center;
                text-align: center;
                img{
                    width: clamp(18.125rem, 15.078rem + 11.081vw, 28.375rem);
                }

            }

            .painting{
                flex: 1;
                text-align: center;

                img{
                    margin-right: 15%;
                    height: 100%;
                }

            }
        }

        .inversed-structure{
            display: flex;
            align-items: center;
            .text{
                text-align: start;
                flex: 1;
                .text-title{
                    font-size: clamp(1.125rem, 0.939rem + 0.676vw, 1.75rem);
                }

                .text-para{
                    font-size: clamp(1.125rem, 1.014rem + 0.405vw, 1.5rem);

                    p{
                        margin-bottom: 20px;
                        line-height: 1.5;
                        margin-right: 15%;
                    }
                }
            }

            .image{
                flex: 1;
                justify-items: center;
                text-align: center;
                img{
                    width:clamp(18rem, 14.432rem + 12.973vw, 30rem);
                }

            }

            .painting{
                flex: 1;
                text-align: center;
                img{
                    height: 100%;
                    margin-left: 10%;
                }

            }
        }
    }
}

.cellar{
    background-color: var(--black);
    padding: 0 6%;
    padding-bottom: 6rem;

    .cellar-title{
        text-align: end;
        padding-top: 1%;
    }

    .cellar-content{
        display: flex;
        align-items: center;
        gap: 2rem;

        .text{
            text-align: start;
            flex: 1;

            .text-para{
                font-size: clamp(1.125rem, 1.014rem + 0.405vw, 1.5rem);

                p{
                    margin-bottom: 20px;
                    line-height: 1.5;
                    margin-right: 15%;
                    color: var(--white);
                }
            }
        }

        .image{
            flex: 1;
            justify-items: center;
            text-align: center;
            
            img{
                width: clamp(20rem, 17.796rem + 8.816vw, 28.375rem);

            }

        }

        .painting{
            flex: 1;
            text-align: center;

            img{
                height: 36.7rem;
                margin-left: 10%;
            }

        }
    }
}

.events {
    padding: 6rem 0;
    display: flex;
    flex-direction: column; 
    align-items: center;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/img/events.png);
    
    background-size:cover ;
    background-position: center center;
    
    .events-title {
        font-family: Lora;
        font-size: clamp(2rem, 1.666rem + 1.216vw, 3.125rem);
        text-align: center;
        color: white;

        margin-bottom: 2rem;
    }

    .events-description{
        font-family: FoundersGrotesk-light;
        font-size: clamp(1.125rem, 0.976rem + 0.541vw, 1.625rem);
        text-align: center;
        color: white;
        width: 100%;
        p{ 
            margin: 0 20%;
            margin-bottom: 20px;
            line-height: 1.5;
        }
    }

    button {
        justify-content: center;
        justify-self: center;
        justify-items: center;

        text-align: center;

        align-items: center;
        align-self: center;
        align-content: center;

    }
}

.gift {
    display: flex;
    align-items: center;

    justify-content: center;

    padding: 6rem 16rem;

    .izq{
        flex: 2;
        text-align: center;

        img{
            width: clamp(20rem, 17.796rem + 8.816vw, 28.375rem);
        }
    }

    .der{
        flex: 2;

        .gift-title{
            text-align: center;
            margin: 0 2rem;
        }
        
        .gift-description{
            font-size: clamp(1rem, 0.889rem + 0.405vw, 1.375rem);
            p{ 
                margin-bottom: 20px;
                line-height: 1.5;
            }
        }
    }
}




/*--------------------------------------------TEAM--------------------------------------*/

.separator {

    img{
        width: 100%;
    }
}


/*-employees-*/

.employees {
    margin: 0 25%;
    .team-members{

        h2{
            margin: 2rem 0;

            font-family: Lora;
            color: var(--gold-80);
            font-weight: 500;
            text-transform: uppercase;
            font-size: clamp(1.375rem, 1.115rem + 0.946vw, 2.25rem);
            .capital{
                font-size: clamp(2rem, 1.666rem + 1.216vw, 3.125rem);
            }
        }

        .person {
            display: flex;
            gap: 1rem;
            margin-bottom: 3rem;
            gap: 1.5rem;
            .izq{
                flex: 1;
                .photo{
                    img{
                        height: clamp(15.625rem, 14.803rem + 3.289vw, 18.75rem);
                    }
                }

                .social{
                    ul{
                        display: flex;
                        justify-content: center;
                        gap: 2rem;
                        margin-top: .5rem;
                        li{
                            list-style: none;

                            a{
                                img{
                                    width: 24px;
                                    height: auto;
                                    display: block;
                                    transition: transform 0.2s;

                                    &:hover {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .der{
                flex: 4;
                /* margin-left: 1.5rem; */
                .title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;

                    p{
                        font-family: Lora;
                        font-size: clamp(1.2rem, 1.081rem + 0.432vw, 1.6rem);
                        color: var(--black-50);
                    }

                    img{
                        height: clamp(2rem, 1.666rem + 1.216vw, 3.125rem);
                        width: auto;
                    }
                    
                }

                .content{

                    p{
                        font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
                        margin-bottom: 20px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

/*--form work with us--*/
.work-with{
    margin: 0 5%;
    border-top: 1.8px solid var(--gold-100);
    .header{
        width: 100%;
        text-align: center;
        margin: 2rem 0;
        .title{

            h2{
                margin: 2rem 0;

                font-family: Lora;
                color: var(--gold-80);
                font-weight: 500;
                text-transform: uppercase;
                font-size: clamp(1.375rem, 1.115rem + 0.946vw, 2.25rem);
                .capital{
                    font-size: clamp(2rem, 1.666rem + 1.216vw, 3.125rem);
                }
            }
        }
        .subtitle{
            margin: 0 10%;
            font-family: FoundersGrotesk-light;
            font-size: clamp(0.875rem, 0.801rem + 0.27vw, 1.125rem);
        }
    }

    .work-form{
        form{
            justify-self: center;
            margin: 0 10%;
            padding-bottom: 6rem;
            display: flex;
            flex-direction: column;
            gap: .8rem;

            input {
                height: 2.2rem;
                width: clamp(20rem, 12.105rem + 31.579vw, 50rem);
                border-radius: 5px;
                border: none;
                padding: 12px;
                background-color: #cacacabd;
                align-items: center;
                font-family: Montserrat;

                transition: box-shadow 0.3s;                
            }

            input::placeholder {
                font-family: "FoundersGrotesk";
                color: var(--black-50);
            }

            input[type=text]:focus,
            input[type=email]:focus,
            input[type=tel]:focus,
            textarea:focus {
                border: none;
                outline: none;

            }

            select {
                height: 2.2rem;
                border-radius: 5px;
                border: none;
                padding: 12px;
                background-color: #cacacabd;
                align-items: center;
                font-family: FoundersGrotesk;
                
                transition: box-shadow 0.3s;

                cursor: pointer;
            }

            label{
                font-family: Lora;
                color: var(--gold-80);
            }

            textarea{
                height: 10rem;
                border-radius: 5px;
                border: none;
                padding: 12px;
                background-color: #cacacabd;
                align-items: center;
                font-family: FoundersGrotesk;
                color: var(--black-50);

                transition: box-shadow 0.3s;

                resize: none;
                margin-bottom: 1.45rem;
            }

            input:hover,
            select:hover,
            textarea:hover{
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

        }
    }
}

/*--------------------------- MENU ---------------------------*/

.signature-dishes{

    .section-title{
        width: 100%;
        text-align: center;
    }

    .dishes{
        width: 100%;
        margin-top: 4rem;
        .normal-dish{
            display: flex;
            margin-bottom: 5rem ;
            /* align-items: center */

            .dish-img{

                img{
                    height: clamp(22.5rem, 14.441rem + 32.237vw, 53.125rem);
                    width: auto;
                }
            }

            .dish-text{
                margin: 3rem;
                
                .dish-title{
                    margin-bottom: 1.2rem;
                    h5{
                        font-family: Lora;
                        font-size: clamp(1.875rem, 1.615rem + 0.946vw, 2.75rem);
                        font-weight: 400;

                        color: var(--black-50);
                    }
                }

                .dish-para{
                    font-size: clamp(1.125rem, 0.976rem + 0.541vw, 1.625rem);
                    width: 100%;
                    p{
                        margin-right: 20%;

                        margin-bottom: 20px;
                        line-height: 1.5;
                    }
                }
            }
        }

        .invested-dish{
            display: flex;
            margin-bottom: 5rem ;

            .dish-img{

                img{
                    height: clamp(22.5rem, 14.441rem + 32.237vw, 53.125rem);
                    width: auto;
                }
            }

            .dish-text{
                margin: 3rem;
                text-align: end;
                .dish-title{
                    margin-bottom: 1.2rem;
                    h5{
                        font-family: Lora;
                        font-size: clamp(1.875rem, 1.615rem + 0.946vw, 2.75rem);
                        font-weight: 400;

                        color: var(--black-50);
                    }
                }

                .dish-para{
                    font-size: clamp(1.125rem, 0.976rem + 0.541vw, 1.625rem);

                    p{
                        margin-left: 20%;
                        margin-bottom: 20px;
                        line-height: 1.5;
                    }
                }
            }

        }
    }
}

.tasting-menus{
    width: 100%;
    .section-title{
        text-align: center;
        margin-bottom: 3rem;
    }
    .menus{
        display: flex;
        flex-direction: row;
        .izq-menu{

            .price{
                text-align: start;
                font-family: Lavish;
                color: var(--gold-100);
            }
        }

        .der-menu{
            border-left: 1px solid var(--gold-100);

            .price{
                text-align: end;
                font-family: Lavish;
                color: var(--gold-100);
            }
        }

        .menu{
            justify-content: center;
            text-align: center;
            padding: 0 8%;

            .menu-title{
                
                h4{
                    font-family: Lavish;
                    font-size: clamp(1.125rem, 0.939rem + 0.676vw, 1.75rem);
                    font-weight: 400;
                    color: var(--gold-100);
                }

                .subtitle{
                    font-size: clamp(0.75rem, 0.676rem + 0.27vw, 1rem);
                    font-family: FoundersGrotesk-light;
                    color: #222222;
                    
                    margin: .6rem;
                }
            }

            .menu-content{
                
                .part-title{
                    h5{
                        font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
                        font-weight: 100;
                        color: var(--gold-100);
                        font-family: Lavish;
                    }
                }

                .dish{
                    font-size: clamp(1rem, 0.926rem + 0.27vw, 1.25rem);
                    color: var(--black-50);
                    font-family: Lavish;
                    font-weight: 400;
                }

                .dish-description{
                    font-size: clamp(0.75rem, 0.676rem + 0.27vw, 1rem);
                    font-family: FoundersGrotesk-light;
                    font-weight: 100;
                    color: #222222;

                    margin-bottom: 1rem;
                }
                
                .part-1{
                    
                }
            }
        }
    }
}

.gallery{
    padding-bottom: 6rem;
    .section-title{
        text-align: center;
    }

    .dishes-gallery {
        justify-self: center;
        column-count: 2;
        
        column-gap: clamp(0.375rem, 0.211rem + 0.658vw, 1rem);

        max-width: clamp(21rem, 5.967rem + 60.132vw, 78.125rem);
        width: 100%;

        padding: clamp(0.5rem, 0.303rem + 0.789vw, 1.25rem);
        background-color: #7f7f7fa1;
        

        .dish-item {

            display: flex;

            position: relative;

            break-inside: avoid; 
            
            margin-bottom: clamp(0.375rem, 0.211rem + 0.658vw, 1rem);
            background-color: white;

            text-align: center;
            justify-content: center;

            align-items: center;

            box-sizing: border-box;
            overflow: hidden;

            img {
                width: clamp(8.75rem, 1.184rem + 30.263vw, 37.5rem); 
                height: auto;
                display: block; 

                transition: filter 0.4s ease;

            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background-color: rgba(0, 0, 0, 0.6);

                opacity: 0;

                transition: opacity 0.4s ease;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                /* Estilos del texto */
                color: white;
                text-align: center;
                padding: 5%; /* Un poco de margen interno para que el texto no toque los bordes */
            
                h3{
                    margin: 0 0 10px 0;
                    font-family: Lora;
                    font-size: clamp(1.4rem, 1.045rem + 1.421vw, 2.75rem);

                    font-weight: 400;
                    color: var(--gold-80);
                }

                p{
                    font-family: FoundersGrotesk-light;
                    font-weight: 100;

                    margin: 0;
                    font-size: clamp(0.6rem, 0.363rem + 0.947vw, 1.5rem);
                    line-height: 1.4;

                    

                    font-style: italic;
                    color: var(--white);
                }
            }
        }

        .dish-item:hover {

            img{
                filter: blur(5px);
            }

            .overlay{
                opacity: 1;

                
            }
        }

        .dish-item:nth-child(3),
        .dish-item:nth-child(6) {
            margin-bottom: 0;
        }


    }
}

/*-------------------------------------- CONTACT -----------------------------------------*/

.book{

    .book-title{
        margin-left: 8%;
    }

    .book-content{
        flex: 1;
        display: flex;
        margin: 0 8%;

        .relevant-info{
            margin-top: 2%;

            display: flex;
            flex-direction: column;

            .info{
                width: 40%;
                margin-bottom: 2.5rem;
                .info-title{
                    margin-bottom: .8rem;

                    h6{
                        font-family: Lora;
                        font-size: clamp(1.25rem, 1.139rem + 0.405vw, 1.625rem);
                        font-weight: 400;
                        text-transform: uppercase;

                        color: var(--gold-80);
                    }
                }

                .info-content{
                    font-size: clamp(1rem, 0.889rem + 0.405vw, 1.375rem);

                    p{
                        margin-bottom: 10px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    .book-form{
        margin-top: 2%;
        flex: 3;

        display: flex;
        flex-direction: column;
        
        gap: 1rem;
        align-items: center;
        .row{
            display: flex;
            gap: 1rem;
        }

        input,
        select{
            transition: box-shadow 0.3s;
            width: 20rem;
            height: 2.5rem;
            
        }

        input:hover,
        select:hover{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        input {
            border-radius: 5px;
            border: none;
            padding: 12px;
            background-color: #cacacabd;
            align-items: center;
            font-family: Montserrat;
                
        }

        input::placeholder {
            font-family: FoundersGrotesk;
            color: var(--black-50);
            font-size: 1rem;
        }

        input[type=text]:focus,
        input[type=email]:focus,
        input[type=tel]:focus{
            border:none;
            outline: none;

        }

        select {
            border-radius: 5px;
            border: none;
            padding: 12px;
            background-color: #cacacabd;
            align-items: center;
            font-family: FoundersGrotesk;
            font-size: 1rem;

            cursor: pointer;
        }

        select:focus{
            border: none;
            outline: none;
        }
    }

    .book-calendar{
        margin-top: 1rem;
        width: 100%;           
        margin-left: auto;     
        margin-right: auto;
        
        .calendar {
           
            border: 1px solid #ddd;
            transition: box-shadow 0.3s;
        }

        .calendar:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .calendar-header {
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .4rem 1rem;
            .left-chevron,
            .right-chevron{
                cursor: pointer;
                img{
                    height: clamp(0.875rem, 0.776rem + 0.395vw, 1.25rem);
                    transition: transform 0.2s;
                }
            }

            .left-chevron:hover,
            .right-chevron:hover{
                img{
                    transform: scale(1.1);
                }
            }

            p{
                text-align: center;
                color: var(--black);
                padding: 10px;
                font-size: clamp(1rem, 0.881rem + 0.432vw, 1.4rem);
                font-weight: bold;
                font-family: Lora;
            }
        }

        .calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            background-color: var(--white);
            color: var(--black);
            font-weight: bold;
            font-family: Lora;
            width: 100%;
        }

        .calendar-days div {
            padding: 10px;
            text-align: center;
            font-weight: bold;
            opacity: 1;

            font-size: clamp(0.7rem, 0.642rem + 0.632vw, 1.4rem);

            @media (max-width: 500px) {
            padding: 5px;
            font-size: 0.75rem;
            }
        }

        .calendar-dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            background-color: var(--white);
        }

        .calendar-dates div {
            aspect-ratio: 1 / 1; 
            display: flex;       
            align-items: center; 
            justify-content: center; 
            
            padding: clamp(0.375rem, 0.305rem + 0.267vw, 0.625rem);
            
            text-align: center;
            border: 1px solid #ddd;
            font-family: "Roboto Condensed", sans-serif;
            font-size: clamp(0.8rem, 0.681rem + 0.432vw, 1.2rem);
            font-weight: 900;
            color: var(--white);
            cursor: pointer;
            transition: opacity 0.4s ease;
        }

        .calendar-dates div:hover{
            opacity: 0.7;
        }

        .calendar-dates div:nth-child(1),
        .calendar-dates div:nth-child(2),
        .calendar-dates div:nth-child(3),
        .calendar-dates div:nth-child(4),
        .calendar-dates div:nth-child(5),
        .calendar-dates div:nth-child(6),
        .calendar-dates div:nth-child(37),
        .calendar-dates div:nth-child(38),
        .calendar-dates div:nth-child(39),
        .calendar-dates div:nth-child(40),
        .calendar-dates div:nth-child(41),
        .calendar-dates div:nth-child(42){
            border: none;

            cursor: auto;
        }

        .today {
            background-color: var(--gold-100);
            font-weight: bold;

            z-index: 9999;
        }

        .weekend{
            background-color: var(--gold-60);

            z-index: 99;
        }

        .passed {
            background-color: var(--black-50);

            z-index: 9999;
        }

        .not-yet {
            background-color: #25333C;

            z-index: 9999;
        }

        .empty {
            border: 1px solid var(--white);
        }
    }

    .button{
        margin: 1.5rem 0;
        text-align: end;
    }
}

.contact-contact{
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    margin: 0 8%;
    gap: 2.4rem;

    .contact-img{
        text-align: center;

        img{
            height: clamp(32.5rem, 24.605rem + 31.579vw, 62.5rem);
        }
    }

    .contact-content{
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */

        .contact-title{
            text-align: end;
        }

        .contact-description{
            font-family: FoundersGrotesk-light;
            font-size: clamp(1.125rem, 1.014rem + 0.405vw, 1.5rem);
            text-align: end;
            margin-left: 5%;
        }

        .contact-form {
            margin: 1.6rem 10%;
            padding-left: 4rem;
            form{
                display: flex;
                flex-direction: column;
                gap: .8rem;

                input{
                    height: 2.2rem;
                    border-radius: 5px;
                    border: none;
                    padding: 12px;
                    background-color: #cacacabd;
                    align-items: center;
                    font-family: Montserrat;

                    transition: box-shadow 0.3s;

                }

                input::placeholder {
                    font-family: "FoundersGrotesk";
                    color: var(--black-50);
                }

                input[type=text]:focus,
                input[type=email]:focus,
                input[type=tel]:focus,
                textarea:focus {
                    border: none;
                    outline: none;
                }

                label{
                    font-family: Lora;
                    color: var(--gold-80);
                }

                textarea{
                    height: 10rem;
                    border-radius: 5px;
                    border: none;
                    padding: 12px;
                    background-color: #cacacabd;
                    align-items: center;
                    font-family: FoundersGrotesk;
                    color: var(--black-50);

                    resize: none;
                    margin-bottom: 1.45rem;

                    transition: box-shadow 0.3s;

                }

                .button{
                    text-align: end;
                }

                input:hover,
                textarea:hover{
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }
            }
            
        }
    }
}


@media (max-width: 1340px) {

    /*--------- HOME -------*/

    .hero{

        .izq{
            width: 100%;
        }

        .der {
            flex: 0;
            img{
                display: none;
            }

        }
    }

    .about{
        margin-bottom: 3rem;

        .about-title{
            width: 100%;
            margin-left: 5%;
        }

        .about-content{

            .normal-structure{
                flex-direction: column;

                .text{
                    margin: 0 8%;

                    .text-para{

                        p{
                            margin: 0;
                            margin-bottom: 20px;

                        }
                    }

                }

                .image img{
                }

                .painting {
                    flex: 0;
                    display: none;
                }
            }

            .inversed-structure{
                flex-direction: column-reverse;

                .text{
                    margin: 0 8%;
                    .text-para{
                        
                        p{
                            margin: 0;
                            margin-bottom: 20px;

                        }
                    }
                }

                .image img{
                    /* height: clamp(22.5rem, 10.798rem + 46.809vw, 50rem);
                    width: auto; */
                }

                .painting {
                    flex: 0;
                    display: none;
                }
            }
        }
    }

    .cellar{

        .cellar-content{
            flex-direction: column-reverse;
            .text{
                text-align: end;

                .text-para p{
                    margin: 0;
                }
            }

            .painting{
                flex: 0;
                display: none;
            }
        }
    }

    .events{

        .events-description{
            p{
                margin: 0 10%;
                margin-bottom: 20px;

            }
        }
    }

    .gift {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0 10%;
        padding-bottom: 6rem;
    }

    /*------- TEAM --------*/

    .employees{
        margin: 0 10%;

    }

    .personal{
        display: flex;
        gap: 3.5rem;
        .izq-person{
            flex: 1;
        }

        .der-person{
            flex: 1;
        }
    }

    .person {
        flex-flow: column-reverse;
        align-items: center;



        .der{
            margin: 0;
            .title{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-self: center;
                justify-content: space-between;

                img{
                    display: none;
                }

                p{
                    text-align: center;
                }

            }
        }
    }


    /*------- MENU --------*/

    .signature-dishes{

        .dishes{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .normal-dish{
                flex-direction: column;
                text-align: center;
                margin-bottom: 2.5rem;
                .dish-title{
                    margin-top: 1rem;
                }

                .dish-text{
                    margin: 0;

                    .dish-para p{
                        margin: 0;
                        padding: 0 15%;
                    }
                }
            }

            .invested-dish{
                flex-direction: column-reverse;
                text-align: center;
                margin-bottom: 2.5rem;

                .dish-title{
                    margin-top: 1rem;
                }

                .dish-text{
                    margin: 0;
                    text-align: center;

                    .dish-para p{
                        margin: 0;
                        padding: 0 15%;
                    }
                }
            }
        }
    }

    /*------- CONTACT -------*/ 

    .contact-header{
        margin: 6rem 0 0 0;
        
        .header-things{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }

        .header-logo{
            margin-left: 1.5rem;
        }

        .header-text{
            margin: 0 20%;
            text-align: center;
        }
    }

    .book-content{
        flex-direction: column;
        margin: 0;

        .relevant-info{
            text-align: center;
            margin: 0 8%;
            margin-bottom: 2rem;

            .row-1{
                display: flex;
                gap: 2rem;
                .info{
                    width: 100%;
                }

                .info-1{
                    flex: 1;

                }

                .info-2{
                    flex: 1;

                }

            }

            .row-2{
                display: flex;
                gap: 2rem;
                .info{
                    width: 100%;
                }

                .info-3{
                    flex: 1;

                }

                .info-4{
                    flex: 1;

                }

            }
        }


        .book-calendar{
            margin-top: 2rem;
            width: 80%;
        }
    }
}

@media (max-width: 1100px){


    .header-content{
        margin: 6rem 0 0 0;
        padding-bottom: 4rem;
        
        .header-things{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }

        .header-logo{
            margin-left: 1.5rem;
        }

        .header-text{
            margin: 0 10%;
            text-align: center;
        }
    }

    /*----- MENU -------*/

    

    .gallery .dishes-gallery{
        column-count: 1;

        .dish-item:nth-child(3) {
            margin-bottom: clamp(0.375rem, 0.211rem + 0.658vw, 1rem);
        }
    }

    /*----- CONTACT -----*/

    .contact-contact{
        
        padding-top: 2rem;

        .contact-img{
            display: none;
        }

        .contact-content{

            margin: 0;

            .contact-title{
                text-align: center;
            }

            .contact-description{
                text-align: center;
                margin-left: 0;
                margin: 0 10%;
            }
            
            .contact-form{
                padding: 0;
            }
        }
    }

}

@media (max-width: 970px){
    
}

@media (max-width: 930px){

    /*------FOOTER-----*/

    .real-footer{
        flex-flow: column; 

        .logo-footer {
            margin-top: 2rem;
            
            img{
                width: 10rem;
            }
        }
    }

    .newsteller{
        flex-direction: column;
        gap: 1rem;
        
        .join {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-left: 6rem;

            /* border: 1px solid red; */


        }

        hr {
            display: block;
            border: none;
            height: 1px;
            background-color: var(--black-50);
            margin: 0 15%;
        }

        .work{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-right: 6rem;
        }

        

    }
    
    
}

@media (max-width: 820px){

    header {
        .branding{
            nav {
                ul{
                    li:nth-child(1),
                    li:nth-child(2),
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5){
                        display: none;

                    }
                }
            }
        }
    }

    .collapse{
        display: block;
        justify-content: center;

        .nav-bar{
            /* border: 1px solid red; */

        }
    }

    .menu_mobile {
        display: block;
        position: absolute;
        top: 0vh;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;

        backdrop-filter: blur(25px);

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        animation: grow-down .5s ease-in-out;
        animation-fill-mode: forwards; /* cuando acabe la animación se queda fijo el último fotograma */

         

        .logo-m  {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            img {
                max-width: 40vw;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .canma{
                font-size: clamp(2rem, 0.95rem + 4vw, 3rem);
                font-family: Lora;
                margin-bottom: 1rem;

                cursor: default;
            }

            


        }

        #menu_mobile_nav   {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            li {
               
                width: 100%;
                text-align:center;
            }

            li a {
                text-decoration: none;
                color: var(--gold-80);
                font-weight: 600;
                display: inline-block;
                font-size: clamp(1.2rem, 0.57rem + 2.4vw, 1.8rem);
                transition: color 0.2s;
                &:hover {
                    color: var(--black-50);
                }
            }

            li a button {
                width: clamp(6.5rem, 2.825rem + 14vw, 10rem);
                height: clamp(2rem, 1.58rem + 1.6vw, 2.4rem);

                font-size: clamp(1rem, 0.475rem + 2vw, 1.5rem);
            }
        }
    }

    .grow {
        animation: grow-up .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes grow-up {
        from { 
            height: 0%;
        }
        to {
            height: 100%;
        }
    }

    @keyframes grow-down {
        from {
            height: 100%;
        }
        to {
            height: 0%;
        }
    }

}

@media (max-width: 740px){

    /*------FOOTER-----*/
    .real-footer{

        .info{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;

            
        }
        
    }
    
}

@media (max-width: 690px) {

    /*---- TEAM ------*/

    .personal{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .izq-person{
            flex: 1;
        }

        .der-person{
            flex: 1;
        }
    }

    .person {
        flex-flow: column-reverse;
        align-items: center;
        gap: 0;
        .der{
            margin-left: 0;
            .title{
                display: flex;
                justify-self: center;
                justify-content: space-between;

                p{
                    text-align: center;
                }

                

            }

            .content{
                text-align: start;
            }

        }
    }

    /*------- MENU --------*/
    .tasting-menus{
        .menus {
            flex-direction: column;
            gap: 2rem;
            .menu{
                .price{
                    text-align: center;
                }
            }

            hr {
                display: block;
                border: none;
                height: 1px;
                background-color: var(--gold-100);
                margin: 0 5%;
            }


        }
    }
    /*------CONTACT------*/

    .calendar-dates div {
        padding: 2px;
        font-size: 0.9rem;
    }
    
    .calendar-header {
        padding: 0.4rem 0.5rem;
    }

    .book-form{

        .row{
            flex-direction: column;

        }
    }

    .contact-contact .contact-content .contact-description{
        margin: 0 4%;
    }

    .contact-contact .contact-content .contact-form{
        margin: 1.6rem 4%;
    }

}

@media (max-width: 430px) {
    

    /*----CONTACT-----*/

    .book{
        .book-content {

            .relevant-info{
                gap: 2.5rem;
                .info{
                    margin: 0;
                }

                .row-1, .row-2{
                    display: flex;
                    flex-direction: column;
                }

            }
        }
    }
    
}