
.nav-bar  {
  width: 30px;
  height: 25px;
  position: relative;
  top: 0;
   
  transform: rotate(0deg);
   
  transition: 0.5s ease-in-out;
  cursor: pointer;
  
   
}

 
.nav-bar span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: var(--gold-80);
  opacity: 1;
   
  transform: rotate(0deg);
   
  transition: 0.25s ease-in-out;
}

.nav-bar span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-bar span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.nav-bar span:nth-child(1),
.nav-bar span:nth-child(2) {
  top: 0px;
}

.nav-bar span:nth-child(3),
.nav-bar span:nth-child(4) {
  top: 9px;
}

.nav-bar span:nth-child(5),
.nav-bar span:nth-child(6) {
  top: 18px;
}

.nav-bar.open span:nth-child(1),
.nav-bar.open span:nth-child(6) {
  
  transform: rotate(45deg);
}

.nav-bar.open span:nth-child(2),
.nav-bar.open span:nth-child(5) {
  
  transform: rotate(-45deg);
}

.nav-bar.open span:nth-child(1) {
  left: 5px;
  top: 7px;
  /*background: red;*/
}

.nav-bar.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 7px;
  /*background: blue;*/
}

.nav-bar.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
  /*background: green;*/
}

.nav-bar.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
  /*background: yellow;*/
}

.nav-bar.open span:nth-child(5) {
  left: 5px;
  top: 14px;
  /*background: cyan;*/
}

.nav-bar.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 14px;
  /*background: magenta;*/
}

